body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.text-color{
    color: orange;
}
.first-design{
    padding-left: 40px;
    width: 50%;

}
.image-design{
    width: 80%;
    size: 5px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
background-image: url(images/top-banner.png);
background-repeat: no-repeat;
display: flex;
}
.link-button-two{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 4px;
}
.second-design{
    padding-right: 50px;
    padding-left: 60px;
    width: 50%;
}
.top-banner-two{
    padding-top: 200px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}
.text-size{
    font-size: 20px;
    padding-right: 40px;
}
.text-size-two{
    font-size: 20px;
}
.image-two{
    width: 50%;
}
.top-banner-third{
    display: flex;
}
.section-last{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.h1-change{
    padding-left: 30px;
}
.text-color{
    color: orange;
}
#left-margin{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#margin-left{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
.footer{
    padding-top: 50px;
    text-align: center;
}

